
<footer id="footer" class="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-lg-6">
            <h4>Join Our Newsletter</h4>
            <p>Subscribe to our newsletter and receive the latest news about our products and services!</p>
            <form action="{% url 'subscribe' %}" method="post" >
              {% csrf_token %}

              {% if messages %}
              {{message.tags}}  
              <div class="text-center mt-4 name" role='alert'>
                {% for message in messages %}
                {{message}}
                {% endfor %}
          
              </div>
              {% endif %}
              <div class="newsletter-form"><input placeholder="type your email adress & subscribe for get notification from us!" required type="email" name="email"><input type="submit" value="Subscribe"></div>
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your subscription request has been sent. Thank you!</div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="#" class="d-flex align-items-center">
            <span class="sitename">Tech_IT</span>
          </a>
          <div class="footer-contact pt-3">
            <p>Thakurgaon Sadar</p>
            <p>Thakurgaon, Bangladesh</p>
            <p class="mt-3"><strong>Phone:</strong> <span>+880 1771139444</span></p>
            <p><strong>Email:</strong> <span>nahidcse600795@gmail.com</span></p>
          </div>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">About us</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Services</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Terms of service</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="/learmore_services/?service_id=1">Web Development</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="/learmore_services/?service_id=2">Mobile App </a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="/learmore_services/?service_id=3">UI/UX Design</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="/learmore_services/?service_id=4">Excel Solution</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-12">
          <h4>Follow Us</h4>
          <p>Exceptional designs, reliable code, user-centric approach, and timely delivery.</p>
          <div class="social-links d-flex">
            <a href="#"><i class="bi bi-twitter-x"></i></a>
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4" style="color: white;">
        <p>Tech_IT</p>
      <p >© <span>Copyright</span> <strong class="px-1 sitename">Arsha</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        Designed by <p href="#">BootstrapMade</p>
      </div>
    </div>

  </footer>
